* {
    outline: red solid 1px;
}
/*
header {
    background-color: coral;
}

nav {
    background-color: lightblue;
}

main {
    background-color: lightgreen;
}

footer {
    background-color: lightgray;
}
*/
#header {
    width: 100vw;
    height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: rgb(11, 10, 11);
    color:aliceblue;
}

#main {
    width:100vw;
    height:100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#footer {
    width: 100vw;
}

#projects-container {
    width: 100vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.project {
    width: 350px;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project img {
    width: 100%;
    height: auto;
}

/* Centered text for project titles */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }