


:root {
    font-size: 18px;
    font-family: kuhlman, sans-serif;
    color: #161327;
}
/* Fonts */
.kuhlman {
    font-family: "kuhlman-vf", sans-serif;
    font-variation-settings: "SEED" 1, "wdth" 100;
}

.lapture {
    font-family: "jaf-lapture", serif;
    font-weight: 400;
    font-style: normal;
}

.carilliantine {
    font-family: "carilliantine", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}
/* Global Styles */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

header {
    width: 100vw;
    height: 15vh;
    position: sticky;
    top: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #1b191c;
    color:#dd3c0e;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding: 0px 50px;
}

header div a {
    display: inline-block;

    font-size: 1rem;
    text-decoration: none;
    color: #dd3c0e;
}

header div a:hover {
    transform: scale(1.1);
    
    background-color: #647c2e;
    color: #1b191c;
}

#pages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 15px;
}

#interum {
    width: 100vw;
    height: 500px;

    background-image: url(/MEDIA/eva01.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main {
    width: 100vw;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    background-color: #dd3c0e;
    /*background-color: #5d854f;*/
    border-top: 10px solid #1b191c;
}

aside {
    min-width: 300px;
    position: sticky;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;

    padding: 10px;
    padding-left: 50px;
}

aside h1 {
    font-size: 3rem;
}

aside a {
    display: inline-block;
    padding: 0.5rem;

    font-size: 1rem;
    text-decoration: none;
    border-bottom: 3px solid #1b191c;
    color: rgb(19, 25, 39);
}

aside a:hover {
    transform: scale(1.1);
    border-bottom: 0px;

    background-color: #647c2e;
    color: #1b191c;
}
article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    flex-grow: 1;
    padding: 30px;
    gap: 15px;
}

.project {
    width: 100%;
    height: 300px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 10px;
    gap: 10px;
}

.project div {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    background-color: slategray;
}

.project a {
    display: inline-block;

    font-size: 1.2rem;
    text-decoration: none;
    color: #161327;
}

#Labo1, #Labo2, #Labo3, #Labo4, #Labo5 {
    scroll-margin-top: 80px;
}

footer {
    width: 100vw;
    height: 15vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;

    background-color: #1b191c;
    color:#dd3c0e;
}

/* #projects-container {
    width: 100vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    gap: 10px;
    padding: 10px;
}
*/