body {
    background-color: #f0f0f0;
    margin: 0px;
}

header {
    color: #91a8c1;
    background-color: #334A62;
    padding: 10px 0;
    text-align: center;
    height: 80px;
}

nav {
    background-color: #111d2a;
    text-align: right;
    justify-content: space-between;
    height: 50px;
}

nav > a {
    color: #91a8c1;
    text-decoration: none;
}

section {
    text-align: center;
}

p {
    padding: 0 20px;
    text-align: justify;
}

footer {
    background-color: #334A62;
    padding: 10px 0;
    text-align: center;
}

.container {
    display: flex; /* Aligns children side-by-side */
    min-height: 100vh; /* Optional: Makes the container fill the screen height */
}

.left-section, .right-section {
    flex: 1; /* Makes both sections equal width */
    padding: 10px;
    box-sizing: border-box; /* Ensures padding/border is included in the width */
}

.left-section {
    background-color: #f0f0f0;
    text-align: center;
}

.right-section {
    background-color: #f0f0f0;
    text-align: center;
} 
/* Font Styles */
.pressio {
    font-family: "pressio", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

h1.pressio {
    font-size: 52px;
}

.danshiell {
    font-family: "dashiell-text", serif;
    font-weight: 400;
    font-style: normal;
}

.full-img {
    width : 100%;
}

.half-img {
    width : 50%;
}

.crop-fit {
    height: 600px; /* Creates a square container */
    object-fit: cover; /* Crops the image to fit the container */
    object-position: bottom; /* Focuses on the top part of the image */
  }
