
:root {
    font-size: 18px;
    font-family: "jaf-lapture", serif;
    color: #1b191c;
}
/* Fonts */
.kuhlman {
    font-family: "kuhlman-vf", sans-serif;
    font-variation-settings: "SEED" 1, "wdth" 100;
}

.lapture {
    font-family: "jaf-lapture", serif;
    font-weight: 400;
    font-style: normal;
}

.carilliantine {
    font-family: "carilliantine", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}
/* Global Styles */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

header {
    width: 100vw;
    height: 15vh;
    position: sticky;
    top: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #1b191c;
    color:#dd3c0e;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding: 0px 50px;
}

header div a {
    display: inline-block;

    font-size: 1rem;
    text-decoration: none;
    color: #dd3c0e;
}

header div a:hover {
    transform: scale(1.1);
    
    background-color: #647c2e;
    color: #1b191c;
}

#pages {
    display: inline-block;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    gap: 15px;
}

main {
    width: 100vw;
    height: auto;
    border-top: 10px solid #1b191c;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    background-color: #dd3c0e;
}

section {
    text-align: center;
}

p {
    padding: 0 20px;
    text-align: justify;
}

footer {
    width: 100vw;
    height: 15vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;

    background-color: #1b191c;
    color:#dd3c0e;
}

.container {
    display: flex; /* Aligns children side-by-side */
    min-height: 100vh; /* Optional: Makes the container fill the screen height */
}

.left-section, .right-section {
    flex: 1; /* Makes both sections equal width */
    padding: 10px;
    box-sizing: border-box; /* Ensures padding/border is included in the width */
}

.left-section {
    background-color: #f0f0f0;
    text-align: center;
}

.right-section {
    background-color: #f0f0f0;
    text-align: center;
} 