
* {
    outline: red solid 1px;
}

.icons {
    background-color: rgb(135, 135, 135);
    flex-direction: row;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 12px;
}

#main-container {
    width: 100vw;
    height: 100vh;
    margin: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(209, 209, 209);
    
}

#insta-card {
    width: 400px;
    height: 650px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    padding: 12px;
    border-radius: 15px;
    background-color: white;
}

#insta-card-header {
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    gap: 10px;
}

#profile-pic {
    width: 40px;
    height: 40px;

    border-radius: 50%;
}

#insta-card-img {
    width: 100%;
    height: 450px;

    display: flex;
    align-items: center;
    background-color: rgb(70, 70, 70);
}

#insta-card-footer {
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#insta-card-footer .icons {
    width: 25px;
    height: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15px;
}
/*
#insta-card-footer .icons img {
    width: 30px;
    height: 30px;
}
*/