* {
    outline: rgb(7, 244, 46) solid 1px;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

#main-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url(../../MEDIA/boom-cat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#main-container > div {
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}