.blue {

    color: blue;
}

.red {

    color: red;
}

.purple {
    
    color: purple;
}

.gold {

    color: goldenrod;
}

.pink {
    
    color: pink;
}

.bold {

    font-weight: bold;
}

.italic {

    font-style: italic;
}

.underline {

    text-decoration: underline;
}

.crossout {

    text-decoration: line-through;
}

body {
    
    font-size: 18px;
}

.center {

    text-align: center;
}

.western {

    font-family: "thornwood-vf", sans-serif;
    font-weight: normal;
}

.wes-anderson {

    font-family: "pacaembu", sans-serif;
    font-style: normal;
}

.horror {
    
    font-family: "pitchfork", serif;
    font-style: normal;
}