.blue {
    
    color: blue;
}

.red {

    color: red;
}

.green {
    
        color: green;
}

.yellow {

    color: yellow;
}

.bold {

    font-weight: bold;
}

.italic {

    font-style: italic;
}

.underline {

    text-decoration: underline;
}

body {
    font-size: 18px;
}